$gray : #d3d3d3;

.container {
  background-color: maroon;
  color: white;
  padding: 40px 80px;
  text-align: center;
  form {
    margin: 30px 0px;
  }
  > div {
    margin-bottom: 30px;
  }
  .button {
    font-weight: bold;
    text-align: center;
    background-color: antiquewhite;
    border: none;
    color: orange;
    border-radius: 5px;
  }
}
